.container {
  width: 100%;
  height: calc(100% - 66px);

  display: flex;
  flex-direction: column;
  gap: 24px;

  position: relative;

  padding-inline: 24px;
  padding-top: 56px;

  .title {
    font-family: sans-serif;
    font-weight: bold;
    line-height: 140%;
    font-size: 26px;
  }
}

.space {
  height: 5%;
}

.google {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
}
