.container {
  width: 100%;
  height: calc(100% - 66px);

  display: flex;
  flex-direction: column;
  gap: 62px;

  position: relative;

  padding-inline: 24px;
  padding-top: 56px;

  .titleContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .title {
      font-family: 'Pretendard-Bold', sans-serif;
      line-height: 140%;
      font-size: 26px;
    }
  }

  .button {
    position: absolute;

    bottom: 36px;
    right: 24px;
  }
}
