.container {
  width: 100%;
  height: calc(100% - 66px);

  display: flex;
  flex-direction: column;
  gap: 24px;

  position: relative;

  padding-inline: 24px;
  padding-top: 12px;

  .main {
    display: flex;
    flex-direction: column;
    gap: 0;

    overflow-y: scroll;
  }

  .title {
    font-family: "Pretendard-Bold", sans-serif;
    line-height: 140%;
    font-size: 26px;
  }

  .editButton {
    position: absolute;

    bottom: 36px;
    left: 24px;
  }

  .button {
    position: absolute;

    bottom: 36px;
    right: 24px;
  }
}
