.container {
  display: flex;
  flex-direction: column;
  gap: 4px;

  width: 100%;

  justify-content: center;
  align-items: flex-start;

  .label {
    font-family: sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
  }

  input {
    width: 100%;
    
    border-radius: 10px;
    background-color: #F6F6F6;
    padding: 17px 20px;
    outline: none;
    border: none;

    font-family: sans-serif;
    font-size: 16px;
    line-height: 22px;

    display: flex;
    justify-content: center;
    align-items: center;

    &::placeholder {
      font-family: sans-serif;
      font-size: 16px;
      line-height: 22px;
      color: #707070;
    }
  }
}
